# Configurações do Banco de Dados
DB_HOST=mysql
DB_PORT=3306
DB_NAME=u432003722_portaln4m
DB_USER=u432003722_maurilioayrton
DB_PASSWORD=23311913mmmN.

# Configurações da Aplicação
NODE_ENV=development
VITE_API_URL=http://localhost:3306
